{% extends "guestbook/base.html" %}
{% block content %}
    <form method="POST" action="{% url 'sign' %}">
        {% csrf_token %}
        <h2>Sign In:</h2>
        <div>
            <label for="inputName">Name</label>
            {{ form.name }}
        </div>
        <div>
            <label for="Comment">Comment:</label>
            {{ form.comment }}
        </div>
        <button type="submit">Sign</button>
    </form>
{% endblock %}